@import "animate.min.css";
@import "bulma-pageloader.min.css";
@import "fontawesome.css";
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Roboto&display=swap');
@import "bulma.css";
@import "bulma-tooltip.css";
@import "bulma-steps.min.css";

*{
  font-family: 'Baloo 2', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.50rem;
}

body::-webkit-scrollbar-track {
  background: #ffffff;
}

body::-webkit-scrollbar-thumb {
  background: #9b12ad;
}

.background{
  background: rgb(110,173,255);
  background: radial-gradient(circle, rgba(110,173,255,1) 0%, rgba(102,0,255,1) 100%);
}

.bm--card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bm--card-equal-height .card-footer {
  margin-top: auto;
}

#textColorThree {
  color: #ffffff;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

#textColorOne {
  color: #c3e0fb;
}

#textColorTwo {
  color: #ffffff;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.backgroundPrivacy{
  background-color: rgb(255, 255, 255);
}

#colorHatchfy{
  color: #2062cc;
}

.notification-alert {
  color: white;
  top: 0%;
  right: 50%;
  font-size: 20px;
  position: sticky;
  padding: 19px;
  border-radius: 14px;
  transition-timing-function: cubic-bezier(.17,.67,.83,.67);
  transform: translateY(0);
  transition: all 500ms;
  opacity: 0;
  z-index: 3;
}

.notification-alert.show {
  opacity: 1;
  transform: translateY(100%);
  transition: all 500ms;
}

.notification-alert.success {
  background-color: #48c78e;
  color: #fff;
  border-bottom: 4px solid #3f926d;
}

.notification-alert.danger {
  background-color: #f14668;
  color: #fff;
  border-bottom: 4px solid #b6354e;
}

.notification-alert.warning {
  background-color: #ffe08a;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 4px solid #dfbe66;
}

.estrelas input[type=radio] {
  display: none;
}
.estrelas label i.fa:before {
  content:'\f005';
  color: #FC0;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}

.imageUpload {
  display: none;
}

.edit {
  position: absolute;
  right: 10%;
  z-index: 1;
  top: 0%;
}

.edit.left{
  position: absolute;
  left: 10%;
  z-index: 1;
  top: 0%;
}

.edit label {
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 2px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all .2s ease-in-out;
}

.edit label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.edit label::after {
  color: #757575;
  font-weight: 900;
  color: #000000;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-size: 28px;
  top: 2px;
  left: 2px;
  right: 0;
  text-align: center;
  margin: auto;
}

.edit label#lblEdit::after {
  content:'\f044';
  color: #2062cc;
}
.edit label#lblRemove::after {
  content:'\f00d';
  color: #f14668;
}

.edit label#lblApply::after {
  content: '\f00c';
  color: #48c78e;
}


#imageUpload{
  display: none;
}

