RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule account/ account.php [QSA,NC,L]

RewriteRule createnewpassword/([0-9a-zA-Z-]+)/([0-9a-zA-Z-]+)/ createnewpassword.php?selector=$1&validator=$2 [QSA,NC,L]

RewriteRule createservice/ createservice.php [QSA,NC,L] 

RewriteRule customermenu/ customermenu.php [QSA,NC,L] 

RewriteRule details/([0-9]+) details.php?ids=$1 [QSA,NC,L] 

RewriteRule developermenu/ developermenu.php [QSA,NC,L] 

RewriteRule developmentservices/ developmentservices.php [QSA,NC,L] 

RewriteRule doneservices/ doneservices.php [QSA,NC,L] 

RewriteRule login/ login.php [QSA,NC,L] 

RewriteRule logout/ logout.php [QSA,NC,L] 

RewriteRule pendingservices/ pendingservices.php [QSA,NC,L]

RewriteRule privacypolicy/ privacypolicy.php [QSA,NC,L]

RewriteRule register/ register.php [QSA,NC,L]

RewriteRule resetpassword/ resetpassword.php [QSA,NC,L]

RewriteRule search/ search.php [QSA,NC,L] 

RewriteRule updateservice/([0-9]+) updateservice.php?ids=$1 [QSA,NC,L]

RewriteRule verifyemail/([0-9a-zA-Z-]+)/ verifyemail.php?token=$1 [QSA,NC,L]

RewriteRule whoweare/ whoweare.php [QSA,NC,L]

